/*!
 * Overrides
 */

label.formlabel {
	width: 150px;
	padding-right: 10px;
	text-align: left;
	font-size: 16px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: none;
}

button.formbutton {
	width: 150px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

div#form-fields {
	text-align: center;
}

input[type=text] {
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

div#form-buttons {
	text-align: center;
	padding: 20px;
}

label.error {
	color: #ff0000;
	display: block;
}